$border-rounded: 20px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
select,
input {
    font-family: Montserrat;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: left;
    display: block;
    max-width: 760px;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    color: #FFFFFF;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 8px;
}

select {
    appearance: none;
    background-image: url(images/stock/select.svg);
    background-repeat: no-repeat;
    background-position: right 22px center;
    border: 1px solid rgb(196, 196, 196);
    border-radius: $border-rounded;
    padding: 9px 56px 11px 23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
}

button:not(.addto):hover {
    cursor: pointer;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 735px;
    background-image: url(images/backgrounds/index-topbg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);

    .logo {
        display: block;
        padding-top: 8px;
    }
}

.header__input {
    width: 288px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: $border-rounded;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 32px;
    padding-right: 32px;
}

.header__input::placeholder {
    color: white;
}

.header__menu {
    display: flex;
    gap: 32px;

    &-mobile {
        display: none;
    }
}

.link {
    font-size: 16px;
    line-height: 20px;
    color: white;
    transition: all 0.2s;
}

.link:hover {
    text-decoration: underline;
}

.about__p {
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.about__link {
    color: #FFFFFF;
    text-decoration: underline;
    margin-bottom: 32px;
}

.about__link:hover,
.link-box_link:hover {
    text-decoration: none;
    color: #888888;
}

.for-box {
    padding-top: 64px;
}

.for {
    margin-top: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.for__text {
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 600;
}

.for__item {
    height: 415px;
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    background-position: center;
    background-size: cover;

    &:hover {
        scale: 1.05;
        box-shadow: 0px 0px 12px 2px rgba(82, 82, 82, 0.866);
        cursor: pointer;
    }
}

.for__item_big {
    grid-column: span 6;
}

.for__item_1 {
    background-image: url(images/backgrounds/for-rest.webp);
}

.for__item_2 {
    background-image: url(images/backgrounds/for-work.webp);
}

.for__item_3 {
    background-image: url(images/backgrounds/for-kitchen.webp);
}

.for__item_4 {
    background-image: url(images/backgrounds/for-nursery.webp);
}

.for__item_5 {
    background-image: url(images/backgrounds/for-bathroom.webp);
}

.special {
    padding-top: 64px;
}

.heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.content-box {
    gap: 56px 32px;
    margin-top: 32px;
    padding-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
}

.product-box {
    margin-top: 64px;
}

// Общие стили карточек
.product {
    width: 378px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 2px;

    &__addto {
        display: none;
        position: absolute;
        right: 4px;
        padding: 10px;
        gap: 20px;

        &_cart {
            background-image: url(images/stock/add-to-cart.svg);
        }

        &_like {
            background-image: url(images/stock/add-to-like.svg);
        }
    }

    .addto {
        border: none;
        outline: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        height: 24px;
        width: 24px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        filter: brightness(1.9);

        &::before {
            content: "";
            position: absolute;
            left: -3px;
            top: -3px;
            width: 31px;
            height: 31px;
            background-color: #000000;
            opacity: 0.4;
            border-radius: 50%;
            z-index: 1;
            box-shadow: 0px 0px 9px 2px #000000cc;
        }

        &:hover {
            filter: brightness(3);
        }
    }

    &:hover {
        .product__addto {
            display: flex;
        }

        cursor: pointer;
    }
}

.product__description {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 16px;
}

.price {
    display: flex;
    gap: 32px;
}

.product__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

// Специальные стили карточек
.special__product {
    padding-bottom: 0;
}


.special__price_new {
    color: #050505;
}

.special__price_old {
    text-decoration: line-through;
    color: #888888;
}

.link-box {
    padding-top: 32px;
    padding-bottom: 64px;
}

.link-box_link {
    color: #000000;
    text-decoration: underline;
}

.link-box-mobile {
    display: none;
}

// Стили подвала
.footer {
    background-color: #F7F6F6;
    padding-top: 32px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__logo {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.footer__content {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;

    &-contacts {
        padding-right: 64px;
    }
}

.footer__heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.footer__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    transition: all 0.2s;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__icons {
    display: flex;
    gap: 20px;

    img:hover {
        filter: brightness(0);
    }
}

.form-sub {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__subscribe {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.footer__input {
    width: 260px;
    height: 40px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgb(80, 80, 80);
    font-size: 12px;
    font-weight: 400;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;

    &::placeholder {
        color: rgb(196, 196, 196);
    }
}

.footer__button {
    background: rgba(222, 215, 215, 0.41);
    border: none;
    border-radius: 16px;
    width: 260px;
    height: 40px;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    transition: all 0.2s;

    &:hover {
        background: rgba(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}

// Стили страницы каталога
.catalog-top {
    height: 400px;
    background-image: url(images/backgrounds/catalog-topbg.webp);
}

.cat-heading {
    margin-top: 127px;
    margin-bottom: 0;
}

.cat-band {
    margin-top: 61px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cat-way {
    display: flex;
    gap: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;

    a {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
    }

    a:hover {
        text-decoration: underline;
    }
}

.sort {
    position: relative;

    &__show {
        color: #000000;
    }
}

.bold {
    color: #000000;
    font-weight: 500;
}

fieldset {
    border: none;
}

.filter {
    position: absolute;
    top: calc(100% + 14px);
    right: 238px;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    background: rgb(255, 255, 255);
    padding: 40px 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 36px;
    z-index: 3;

    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
        max-height: 548px;
        min-width: 445px;
        gap: 32px 65px;

        .delivery,
        .rooms {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }

        .delivery {
            margin-top: 2px;
        }
    }

    &__legend {
        color: rgb(5, 5, 5);
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 14px;
    }

    label {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
    }

    &__price {
        padding-bottom: 2px;
        width: 185px;
        display: flex;
        justify-content: space-between;
    }

    .radio {
        height: 17px;

        input[type="radio"] {
            display: none;
        }

        input[type="radio"]+label {
            position: relative;
            padding-left: 29px;
            cursor: pointer;
        }

        input[type="radio"]+label::before {
            content: '';
            position: absolute;
            left: 0;
            top: 1px;
            width: 15px;
            height: 15px;
            border: 1px solid rgb(136, 136, 136);
            border-radius: 50%;
        }

        input[type="radio"]:checked+label::after {
            content: '';
            position: absolute;
            left: 0;
            top: 1px;
            width: 15px;
            height: 15px;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 50%;
            background-image: url(images/stock/checked.svg);
            background-repeat: no-repeat;
            background-position: center 4px;
        }
    }

    .range {
        margin-top: 4px;
        position: relative;
        height: 20px;

        input[type="range"] {
            margin-top: 14px;
            appearance: none;
            position: absolute;
            width: 189px;
        }

        input[type="range"]::-webkit-slider-runnable-track,
        input[type="range"]::-webkit-slider-thumb {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: #000;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            width: 189px;
            height: 1px;
        }

        input[type="range"]::-webkit-slider-thumb {
            height: 8px;
            width: 8px;
            margin-top: -4px;
            border: 1px solid #000;
            border-radius: 25px;
            cursor: pointer;
            z-index: 1;
        }


        input[type="range"]::-webkit-slider-thumb:active {
            cursor: grabbing;
        }
    }

    .color-options {
        display: flex;
        flex-wrap: wrap;
        max-width: 190px;
        gap: 14px;

        .color {
            width: 15px;
            height: 15px;
        }
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]+label {
        position: relative;
        padding-left: 15px;
        cursor: pointer;
    }

    input[type="checkbox"]+label::before {
        content: '';
        position: absolute;
        left: 0;
        top: 1%;
        width: 15px;
        height: 15px;
        border: 1px solid rgb(136, 136, 136);
    }

    .color {
        input[type="checkbox"]+.color__label_white::before {
            background-color: white;
        }

        input[type="checkbox"]+.color__label_black::before {
            background-color: #000;
            border-color: #000;
        }

        input[type="checkbox"]+.color__label_grey::before {
            background-color: rgb(115, 115, 115);
            border-color: rgb(115, 115, 115);
        }

        input[type="checkbox"]+.color__label_red::before {
            background-color: rgb(255, 0, 0);
            border-color: rgb(255, 0, 0);
        }

        input[type="checkbox"]+.color__label_orange::before {
            background-color: rgb(255, 122, 65);
            border-color: rgb(255, 122, 65);
        }

        input[type="checkbox"]+.color__label_yellow::before {
            background-color: rgb(242, 203, 1);
            border-color: rgb(242, 203, 1);
        }

        input[type="checkbox"]+.color__label_green::before {
            background-color: rgb(0, 191, 42);
            border-color: rgb(0, 191, 42);
        }

        input[type="checkbox"]+.color__label_mint::before {
            background-color: rgb(28, 204, 151);
            border-color: rgb(28, 204, 151);
        }

        input[type="checkbox"]+.color__label_lightblue::before {
            background-color: rgb(0, 159, 227);
            border-color: rgb(0, 159, 227);
        }

        input[type="checkbox"]+.color__label_blue::before {
            background-color: rgb(0, 10, 248);
            border-color: rgb(0, 10, 248);
        }

        input[type="checkbox"]+.color__label_orhid::before {
            background-color: rgb(103, 16, 214);
            border-color: rgb(103, 16, 214);
        }

        input[type="checkbox"]+.color__label_violet::before {
            background-color: rgb(157, 13, 181);
            border-color: rgb(157, 13, 181);
        }

        input[type="checkbox"]+.color__label_lavander::before {
            background-color: rgb(216, 154, 255);
            border-color: rgb(216, 154, 255);
        }

        input[type="checkbox"]+.color__label_pink::before {
            background-color: rgb(255, 101, 166);
            border-color: rgb(255, 101, 166);
        }
    }

    input[type="checkbox"]:checked+label::after {
        content: '';
        position: absolute;
        left: 0;
        top: 1%;
        width: 15px;
        height: 15px;
        border: 1px solid rgb(0, 0, 0);
        background-image: url(images/stock/checked.svg);
        background-repeat: no-repeat;
        background-position: center 4px;
    }

    input[type="checkbox"]:checked+.color__label_black::after,
    input[type="checkbox"]:checked+.color__label_orhid::after,
    input[type="checkbox"]:checked+.color__label_violet::after {
        background-image: url(images/stock/checked-white.svg);
    }

    &__roomtype {
        padding-right: 36px;

        .room {
            height: 17px;
        }

        .room input[type="checkbox"]+label {
            padding-left: 29px;
        }
    }
}

.filter-button {
    width: 190px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgb(4, 4, 4);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    transition: all 0.2s;

    &:hover {
        background: rgba(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}

// Стили корзины
.cart-top {
    height: 400px;
    background-image: url(images/backgrounds/cart-topbg.webp);
}

.cart {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    &__content {
        flex-grow: 8;
    }

    &__namebox {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        padding-right: 27px;
    }

    &__product {
        border-top: 1px solid rgb(202, 205, 216);
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-next {
            padding-top: 32px;
        }
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__img {
        position: relative;
        width: 173px;
        height: 173px;

        img {
            position: absolute;
            object-fit: cover;
        }
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;

        h3 {
            margin: 0;
        }
    }

    &__text {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    &__price {
        color: rgb(5, 5, 5);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }

    &__action {
        background-color: transparent;
        border: none;
        margin-right: 30px;
        color: black;
        font-size: 14px;
        font-weight: 400;
        line-height: 210%;
        text-decoration-line: underline;
    }

    &__action:hover {
        background-color: transparent;
        color: black;
    }

    &__buttons {
        margin-top: 18px;
        display: flex;
        gap: 7px;
    }

    &__button {
        width: 200px;
        height: 37px;
        background-color: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 50px;
        color: rgb(2, 2, 2);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        transition: all 0.2s;

        &_continue {
            display: flex;
            width: 200px;
            height: 37px;
            align-items: center;
            justify-content: center;

            &:hover {
                background: rgba(0, 0, 0);
                color: rgb(255, 255, 255);
            }
        }
    }
}

.quantity {
    width: 71px;
    height: 51px;
    border: none;
    outline: none;
    border-radius: 6px;
    background: rgb(247, 246, 246);
    font-size: 14px;
    font-weight: 600;
    line-height: 210%;
    font-family: Poppins;
    padding-right: 14px;
    text-align: center;
    align-self: baseline;
    caret-color: rgb(124, 124, 124);
}

.booking {
    width: 379px;
    border-radius: $border-rounded;
    background: rgb(247, 246, 246);
    height: 556px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__h {
        margin-top: 41px;
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }

    input {
        width: 76%;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(202, 205, 216);
        align-self: flex-start;
        margin-left: 27px;
        margin-bottom: 44px;

        &::placeholder {
            color: black;
        }
    }

    &__price {
        margin-top: 22px;
        margin-bottom: 18px;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;

        span {
            font-weight: 500;
        }
    }

    &__button {
        width: 290px;
        padding: 10px;
        background-color: rgb(247, 246, 246);
        border: 1px solid rgb(4, 4, 4);
        border-radius: $border-rounded;
        font-family: Montserrat;
        color: black;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        transition: all 0.4s;

        &:hover {
            background: rgba(0, 0, 0);
            color: rgb(255, 255, 255);
        }

        &:active {
            box-shadow: 0 5px 8px #888;
            transform: translateY(4px);
            transition: 160ms;
        }
    }
}

@import 'media';